/* Contenedor principal del body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif; /* Título en fuente serif */
    font-weight: lighter;
    color: #000;
}

.portfolio-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background-color: #fff;
    max-width: 1200px;
    max-height: 750px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    width: 100%;
    padding-bottom: 110px;
}

.title-wall {
    flex: 1;
    text-align: center;
}

.title-wall h1 {
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    margin: 0;
    color: #000;
}

.pic-wall {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.pic-wall img {
    width: 90%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.marquee {
    position: relative; /* Permite la posición de los pseudo-elementos en relación al contenedor */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #ffffff;
    padding: 10px 0;
    font-size: 18px;
    color: #000;
}

.marquee span {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    display: inline-block;
    padding-left: 105%;
    animation: marquee 30s linear infinite; 
    font-size: 18px; 
    color: #000; 
}

.marquee::before, .marquee::after {
    content: ''; /* Crea un pseudo-elemento vacío para las líneas */
    position: absolute;
    top: 0;
    width: 15px; /* Ancho de la línea negra */
    height: 100%; /* La línea ocupará todo el alto del contenedor */
    background-color: #000; /* Color negro para las líneas */
}

.marquee::before {
    left: 0; /* La línea aparece en el lado izquierdo */
}

.marquee::after {
    right: 0; /* La línea aparece en el lado derecho */
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.text-certifications h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.logos {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes salten a una nueva fila si no hay espacio */
    justify-content: center; /* Centra las imágenes en el contenedor */
    gap: 20px; /* Añade espacio entre los elementos */
    color: #000000;
}

.logo-item {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px; /* Control estricto sobre el tamaño máximo de los logos */
    margin: 10px; /* Espacio alrededor de cada logo */
}

.logo-item img {
    width: 100px; /* Tamaño fijo de las imágenes */
    height: auto;
    object-fit: contain; /* Asegura que las imágenes mantengan su proporción sin ser recortadas */
    border-radius: 5%;
}

.logo-item p {
    font-family: 'Playfair Display', serif;
    
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;  /* Permite que las cartas se ajusten en filas verticales */
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #000000;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 1 1 200px;  /* El tamaño de la carta es flexible y se adapta */
    max-width: 300px;
    height: 100%;  /* Elimina cualquier restricción de altura */
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;  /* Elimina cualquier espacio extra generado por inline-block */
    border-bottom: 2px solid #ffffff;
}

.card h3 {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 0;
    position: relative;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {

    .portfolio-header {
    
        padding: 20px; /* Reduce el padding */
        padding-bottom: 40px;
    }

    .title-wall {
        text-align: center; /* Centra el texto */
        margin-bottom: 20px; /* Añade espacio entre el título y la imagen */
    }

    .pic-wall {
        justify-content: center; /* Centra la imagen */
    }

    .pic-wall img {
        width: 80%; /* Asegura que la imagen ocupe todo el ancho disponible */
    }

    .awards {
        flex-direction: column; /* Alinea los premios en una columna en pantallas pequeñas */
        justify-content: center;
    }

    .awards li {
        max-width: 100%; /* En pantallas pequeñas, los premios ocuparán el ancho completo */
    }
    
    .center-container {
    align-items: center;
    justify-content: center;
    }

    .center-container img {
        width: 100%; /* La imagen ocupa el 100% del ancho en pantallas pequeñas también */
        height: auto; /* Mantiene la proporción al ajustar el ancho */
        max-width: none; /* No limite el ancho máximo en pantallas pequeñas */
        max-height: 300px; /* Limita la altura máxima si la imagen es demasiado alta */
    }

    .cards-container {
        justify-content: center; /* Centra las cartas horizontalmente en pantallas pequeñas */
    }

    .card {
        flex: 1 1 100%;  /* Hace que las cartas ocupen el 100% del ancho del contenedor */
        max-width: 200px; /* Puedes ajustar el tamaño máximo si es necesario */
    }
}